body{
  padding: 20px;
  background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.4)),url(./image/background.webp);
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
} 
.logo{
  font-family: "Lucida Handwriting", "Courier New", monospace;
  margin-top: 5px;
  margin-left: 3px;
  height: 40px;
  width: 64px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(228, 92, 92);;
  background-color: rgb(255, 255, 255, 0.1);
  position: absolute;
  color: rgb(228, 92, 92);
  font-size: 25px;
}
.shop{
  font-family: "Lucida Handwriting", "Courier New", monospace;
  position: absolute;
  color: white;
  font-size: 25px;
  text-indent: 80px;
  margin-top: 10px;
  margin-left: 3px;
}
h1 {
  font-family: "Lucida Handwriting", "Courier New", monospace;
  color: rgb(228, 92, 92);
  font-size: 50px;
}
label{
  font-size: 40px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  }
form {
  color: #73c1f5;
  font-size: 22px;
}
#addNeed:hover , #addHave:hover{
  background-color: rgb(228, 92, 92); ;
}
#addNeed , #addHave{
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
  font-family: "Lucida Handwriting", "Courier New", monospace;
  background-color : rgba(255, 255, 255, 0.4);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}


h2 {
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  color: #e6f1ff;
  font-size: 42px;
  letter-spacing: -2px;
  text-align: left;
}
.list {
  font-family: "Lucida Handwriting", "Courier New", monospace;
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 700px;
  border: 1px solid #dedede;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
}
.list li {
  list-style: none;
  background-color : #f8f8f8;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  color: #3498db;
}
li a {
  float: right;
  text-decoration: none;
  color: red;
}